@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@200;400;600&display=swap');

* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	background-color: hsl(176, 96%, 9%);
}

.movieNight {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 30vh;
}

.box {
	width: 300px;
	height: 300px;
	margin: 10px 10px 10px 10px;
	position: relative;
}

.film {
	background-color: rgb(65, 26, 83);
}

.snack {
	background-color: rgb(207, 57, 102);
}
.drink {
	background-color: rgb(103, 57, 129);
}

button {
	width: 250px;
	height: 200px;
	position: absolute;
	border-radius: 10px;
	transform: translate(10%, 10%);
	font-family: 'Lobster', cursive;
	font-size: 20px;
	color: whitesmoke;
}

button.whatFilm {
	background-color: rgb(53, 22, 67);
}

button.whatSnack {
	background-color: rgb(187, 52, 93);
}

button.whatDrink {
	background-color: rgb(73, 41, 92);
}

